<html>
<head>
	<title>aMuseMe</title>	
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<div id="super-container">

		<div id="sidebar-container">
			<h1>aMuseMe</h1>
			
			<nav>
				<ul>
					<li><a href="/prompts">Prompts</a></li>
					<li><a href="#">Random</a></li>
				</ul>
			</nav>



		<form action="../users/login" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="Log In" /> <a href="../users/newaccount"><button>Sign Up</button></a>
		</form>


			<h2>Logged in: <%= locals.login %></h2>
			
			<a href="../users/logout">logout</a>

		</div> <!-- closes sidebar-container div -->


		<div id="content-container">