@font-face {
	font-family: Poiret;
	src: url(../fonts/PoiretOne-Regular.ttf);
}

@font-face {
	font-family: Lato;
	src: url(../fonts/Lato-Regular.ttf);
}

* {
	color: #222222;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

textarea {
	resize: none;
	border: 0 none;
}

button, input[type="submit"] {
	font-weight: bold;
	text-align: center;
	text-shadow: none;
	box-shadow: none;
	border: 0 none;
	border-radius: 3px;
}



/* BASIC LAYOUT CONTAINERS */
#super-container {
	width: 100%;
	overflow: hidden;
	font-size: 0;
	white-space: nowrap;
}

#super-container > * {
	font-size: 1rem; /* reset font-size in child divs*/
	white-space: normal; /*allows text-wrapping in children */
}

#sidebar-container {
	width: 25%;
	height: 100%;
	display: inline-block;
	overflow: auto;
	border-right: 1px solid #d3d3d3;
}

#sidebar-container form {
	width: 65%;
	margin: 2em auto 0;
} /* LOG IN FORM */

#sidebar-container form input {
	width: 100%; /* 100% of the parent's width */
	display: block;
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	padding: 0.5em;
	margin-top: 1em;
} /* LOG IN FORM */


#sidebar-container form button {
	width: 48%;
	margin-top: 0.5em;
	padding: 0.75em;
} /* SIGNUP BUTTON */

#sidebar-container form input[type="submit"] {
	width: 48%;
	display: inline-block;
	background-color: #ff3e4c;
	color: #ffffff;
	border-bottom: 3px solid #cc0000;	
	padding: 0.75em;
	margin-top: 0.5em;
} /* LOG IN BUTTON */

#sidebar-container button {
	width: 30%;
	background-color: #ff3e4c;
	color: #ffffff;	
	border-bottom: 3px solid #cc0000;
	padding: 1em;
} /* LOGOUT BUTTON */

#content-container {
	width: 75%;
	height: 100%;
	display: inline-block;
	overflow: auto;
	background-color: #ededed;
}

h1 {
	color: #4ECDC4;
	font-family: Poiret, Helvetica;
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	margin-top: 1.5em;
} /* SITENAME ON SIDEBAR */

nav ul {
	width: 75%;
	list-style-type: none;
	margin: 2em auto;
} /* SIDEBAR LINKS */

nav li a {
	display: block;
	font-family: Lato, Helvetica;
	font-size: 0.85em;
	text-transform: uppercase;
	border-top: 1px solid #333333;
	padding: 1em 0em 1em 1em;
} /* SIDEBAR LINKS */

nav li:last-child {
	border-bottom: 1px solid #333333; /* matches border-top in nav li a */
} /* SIDEBAR LINKS */

nav li a:hover {
	background-color: #baf1ee; /* change this color? maybe? */
	color: #2b2b2b;
} /* SIDEBAR LINKS */


.prompt {
	width: 70%;
	background-color: #ffffff;
	border-top: 5px solid #f63341;
	border-bottom: 0.5px solid #d3d3d3;
	padding: 0.8em;
	margin: 3.5em auto 2em;
} /* PROMPT DIV IN /PROMPTS/SHOW AND /PROMPTS/EDIT */

.prompt h4 a:hover {
	color: #f63341;
} /* PROMPT TEXT HOVER */

.notice {
	width: 67%;
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	padding: 1em;
	margin: auto;
	margin-bottom: 2em;
} /* NOTICE FOR USER IN /PROMPTS/SHOW AND /PROMPTS/EDIT */

.notice a {
	border-bottom: 1px solid #28c0d6;
} /* NOTICE FOR USER IN /PROMPTS/SHOW AND /PROMPTS/EDIT */

.notice a:hover {
	color: #28c0d6;
	border-bottom: 1px solid #28c0d6;
} /* NOTICE FOR USER IN /PROMPTS/SHOW AND /PROMPTS/EDIT */

.notice.top {
	margin-top: 3em;
} /* NOTICE FOR USER IN /PROMPTS/INDEX */

#bottom-nav {
	width: 100%;
	position: relative;
} /* CONTAINER THAT HOLDS BACK AND NEXT BUTTONS ON PROMPTS/INDEX */

/* DONT DELETE YET */
/*#top-nav {
	width: 100%;
	margin-top: 3em;
} */

.bottom-next,.bottom-back {
	background-color: #fabc00; /* make this brighter? */
	color: #ffffff;
	font-size: 0.9em;
	border-bottom: 1px solid #e4981f;
	border-radius: 3px;
	padding: 0.75em;
	font-weight: bold;
} /* NEXT AND BACK "BUTTONS" */

.bottom-next {
	position: absolute;
	right: 15%;
	/*color: #ffffff;*/
} /* NEXT "BUTTON" (right) */

.bottom-back {
	position: absolute;
	left: 15%;
	/*color: #ffffff;*/
} /* BACK "BUTTON" (left) */


.response {
	width: 67%;
	position: relative;
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	padding: 1em 1.5em 3em 1.5em;
	margin: 1em auto 1.5em;
	/*margin: auto;*/
	/*padding-bottom: 3em;*/
	/*margin-top: 1em;
	margin-bottom: 1.5em;*/
	/*border: 1px solid #d3d3d3;*/
/*	border-top: 3px solid blue;*/
	/*border-radius: 3px;*/
} /* RESPONSE SECTION IN /PROMPTS/SHOW */

.response p {
	/*background-color: orange;*/
	font-size: 0.95em;
	white-space: pre-line;
	margin-bottom: 1em;
} /* RESPONSE TEXT IN /PROMPTS/SHOW */


.response-bottom {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #e9e9e9;
	padding: 1em;
	margin-left: -1.5em; /* equal to padding (left/right) on response */
	/*padding: 0.2em 0.8em 0;*/
} /* RESPONSE BOTTOM DIV IN /PROMPTS/SHOW */

.response-bottom span {
	font-size: 0.7em;
} /* TEXT AT BOTTOM OF RESPONSE ON /PROMPTS/SHOW */

.response-bottom-span a {
	/* this is its own span or the icon link will adopt border-bottom */
	color: #28c0d6;
	font-weight: bold;
	border-bottom: 1px solid;
	/*text-decoration: underline;*/
} /* LINK (to user show) AT BOTTOM OF RESPONSE ON /PROMPTS/SHOW */

.response-bottom span a:hover {
	color: #199caf;
} /* LINK AT BOTTOM OF RESPONSE ON /PROMPTS/SHOW */

.rb-edit-delete {
	display: inline-block;
	float: right;
} /* CONTAIN ICON LINKS AT BOTTOM OF RESPONSE */

.rb-edit-delete-pencil {
	margin-left: 2em;
	margin-right: 2em;
	padding-left: 2em;
	padding-right: 2em;
	display: inline-block;
} /* MARGIN ON PENCIL ICON */

.rb-edit-delete form {
	margin-left: 0.8em;
	margin-right: 0.8em;
	display: inline-block;
} 

.edit-delete-icon {
	width: 1.2em; /* resizes icon image size */
	height: 1.2em;
} /* ICON AT BOTTOM OF RESPONSE */

.edit-delete-icon.pencil {
	margin-left: 0.8em;
}

/*.edit-delete-icon:first-of-type {
	margin-right: 0.8em;
}*/

/*.hidden {
	display: inline-block;
}
*/

#post-response {
/*	background-color: red;*/
	width: 70%;
	margin: auto;
} /* FORM TO POST RESPONSE ON /PROMPTS/SHOW */

#post-response textarea {
	width: 100%;
	height: 100px;
	padding: 0.5em;
	margin-bottom: 10px;
	/*resize: none;*/
} /* TEXTAREA INPUT TO POST ON /PROMPTS/SHOW */

#post-response input[type="submit"] {
	width: 100%;
	background-color: #ff3e4c;
	color: #ffffff;
	font-size: 1em;
/*	font-weight: bold;
	text-align: center;*/
	border-bottom: 5px solid #cc0000; /* do this in a color slightly darker than the background color */
	padding: 0.75em;
	/*text-align: center;*/
	/*font-size: 1em;*/
	/*border: 0;*/
/*	background-color: #fabc00;
	border-bottom: 5px solid #e4981f;*/
	/*background-color: #ff3e4c;*/
	/*color: #ffffff;*/
	/*font-weight: bold;*/
} /* SUBMIT BUTTON TO POST ON /PROMPTS/SHOW */


/* SIGN UP PAGE */
#signup-container {
	width: 65%;
	background-color: #ffffff;
	margin: auto;
} /* CONTAINER DIV ON /USERS/NEWACCOUNT */

#signup-container h2 {
	color: #333333;
	font-family: Lato, Helvetica;
	font-size: 1.3em;
	border-bottom: 1px solid #ff3e4c;
	padding-bottom: 0.3em;
	margin-top: 0.5em;
	margin-bottom: 1em;
} /* HEADER ON /USERS/NEWACCOUNT */

#new-account {
	width: 60%;
	padding: 1em;
	margin: 2em auto;
	/*background-color: orange;*/
} /* FORM TO CREATE NEW ACCOUNT ON /USERS/NEWACCOUNT */

#newitem {
	display: block;
	/*position: relative;*/
} /* NEW LINE IN CREATE ACCOUNT FORM */

#new-account label {
	width: 30%;
	display: inline-block;
	color: #333333;
	font-family: Lato, Helvetica;
	font-size: 0.85em;
	font-weight: bold;
	/*margin-top: 0;*/
} /* LABEL IN NEW ACCOUNT FORM */

#new-account input[type="text"] {
	width: 68%;
	display: inline-block;
	font-size: 1em;
	padding: 0.6em;
	margin-bottom: 1.2em;
	/*border: none;*/
} /* TEXT INPUT IN NEW ACCOUNT FORM */

#new-account input[type="text"]:focus{
	/*box-shadow: none;*/
	border: 1px solid #4ECDC4; /* change color? */ 
	box-shadow: 0 0 5px #4ECDC4; /*#fabc00*/
	outline: 0;
	-webkit-appearance: none; /* overrides default blue outline */
} /* SELECTED TEXT INPUT */

#new-account input[type=submit] {
	width: 100%;
	background-color: #ff3e4c;
	color: #ffffff;
	border-bottom: 3px solid #cc0000;	
	padding: 1em;
	margin-top: 0.5em;
	/*margin-top: 0.5em;
	padding: 1em;*/
} /* SUBMIT BUTTON ON /USERS/NEWACCOUNT */


/* /PROMPT INDEX */
.prompt-listitem {
	width: 70%;
	box-sizing: content-box;
	background-color: #ffffff;
	border: 1px solid #d3d3d3;
	border-left: 5px solid #ff3e4c;
	border-radius: 3px;
	padding: 1em;
	margin: 0 auto 1em;
	/*background-color: white;*/
	/*border-radius: 3px;
	box-sizing: content-box;*/
} /* PROMPT DIV (holds one prompt) ON /PROMPTS/INDEX */

.prompt-listitem:first-of-type {
	margin-top: 2em;
} /* FIRST PROMPT ON /PROMPTS/INDEX */

/*.prompt-listitem h3 {
	font-size: 1.2em;
	display: inline;
}*/

/*.prompt-listitem span {
	display: block;
	margin-top: 0.5em;
	font-size: 0.6em;
}*/

#newprompt-container {
	width: 60%;
	margin: 2em auto;
/*	overflow: auto;*/
} /* HOLDS FORM TO CREATE NEW PROMPT ON /PROMPTS */

#newprompt textarea {
	width: 85%;
	height: 4em;
	display: inline;
	float: left;
	padding: 1em;
	/*resize: none;*/
	/*border: none;*/
} /* TEXTAREA INPUT IN NEW PROMPT FORM */

#newprompt input[type=submit]{
	width: 10%;
	display: inline;
	background-color: #ff3e4c;
	color: #ffffff;
	border-bottom: 3px solid #cc0000; /* do this in a color slightly darker than the background color */
	padding: 1em;
	margin-top: 0.2em;
	margin-left: 1em;
	/*border: none;*/
} /* SUBMIT BUTTON IN NEW PROMPT FORM */

/* DONT DELETE THIS YET */
/*#usershow-container {
	width: 80%;
	margin: 2.5em auto;
	background-color: red;
}*/ /* CONTAINER ON USER/SHOW */

/* USER/SHOW */
.profile-content {
	width: 80%;
	background-color: #ffffff;
	padding: 1.5em 2em 1.5em 2em;
	margin: 3em auto 2em;
} /* CONTENT DIV ON USER/SHOW and USER/EDIT */

.profile-content h2 {
	padding-bottom: 0.15em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid gray;
	text-transform: capitalize;
} /* HEADER FOR CONTENT DIVS ON USER/SHOW */

.profile-content form {
	margin-top: 1em;
	display: inline-block;
	width: 30%;
	/*margin-left: 0.5em;*/
} /* BUTTONS TO EDIT/DELETE USER ON USER/SHOW */

.profile-content form:last-of-type {
	margin-left: 0.5em;
}

#profile-buttons {
	width: 100%;
	background-color: #ff3e4c;
	color: #ffffff;
	border-bottom: 3px solid #cc0000;
	padding: 1em;
	/*font-weight: bold;*/
} /* BUTTONS TO EDIT/DELETE USER ON USER/SHOW */

.profile-response {
	width: 95%;
	position: relative;
	white-space: nowrap;
	/*margin: auto;*/
/*	border-top: 3px solid red;*/
	/*border: 1px solid #333333;*/
	border-bottom: 3px solid #f63341;
	/*padding-bottom: 0.5em;*/
	border-radius: 2px;
	margin: 2em auto;
	/*overflow: hidden;*/
/*	background-color: red;*/
} /* RESPONSE DISPLAY DIV ON USER/SHOW */

.profile-response:first-of-type {
	margin-top: 1.3em; /* matches profile-prompt:first of type */
}

.profile-response:last-of-type {
	margin-bottom: 1em; /* matches profile-prompt:last of type */
}

.profile-response p {
	white-space: pre-line; /* preserves line breaks */
	padding: 0.5em 0.5em 0 0.5em;
	/*padding-bottom: 0em;*/
	margin-top: 0.3em;
	margin-bottom: 0;
	/*font-size: 1em;*/
} /* RESPONSE TEXT ON USER/SHOW */

.profile-response-bottom {
	/*background-color: blue;*/
	width: 100%;
	height: 0.8em;
	display: block;
	text-align: right;
	padding: 0.3em 0.3em 1.35em 0.3em;
	/*padding-bottom: 1.5em;*/
	/*position: relative;*/
} /* CONTAINS EDIT DELETE ICON BUTTONS ON USER/SHOW */

.profile-response-bottom form {
	width: 10px;
	margin: -0.8em 0.7em 0 0;
/*	margin-top: -0.8em;
	margin-right: 1em;*/
} /* DELETE FORM ON USER/SHOW */

.profile-icon {
	width: 0.8em;
	margin: 0;
	/*position: absolute;*/
	/*top: -0.4em;*/
} /* ICON IMAGES ON USER/SHOW */

.profile-prompt {
	/*padding: 0.5em;*/
	font-weight: bold;
	border-left: 3px solid #ff3e4c;
	border-radius: 3px;
	padding: 0.3em 0 0.3em 0.6em;
	margin-bottom: 1em;
} /* PROMPT DISPLAY DIV ON USER/SHOW */

.profile-prompt:first-of-type {
	margin-top: 1.3em;  /* matches profile-response:first of type */
}
.profile-prompt:last-of-type {
	margin-bottom: 0.3em;  
}

.profile-prompt a:hover {
	color: #ff3e4c;
}

.promptbody {
	display: block;
	background-color: #efefef;
	font-size: 0.75em;
	font-weight: bold;
	white-space: normal;
	padding: 0.3em 1em 0.3em 1em;
	transition: background-color 3s linear;
} /* DISPLAYS PARENT PROMPT ABOVE RESPONSE ON USER/SHOW */

.promptbody:hover {
	background-color: rgba(255, 255, 255, 0.85);
} /* PARENT PROMPT ABOVE RESPONSE ON USER/SHOW */

.promptbody a:hover {
	/*color: #28c0d6;*/
	color: #f63341;
} /* PARENT PROMPT ABOVE RESPONSE ON USER/SHOW */



/* USERS/EDIT PAGE */
#edit-profile {
	width: 100%;
	margin: auto;
	/*background-color: blue;*/
} /* EDIT PROFILE FORM ON USER/EDIT */

#edit-profile textarea{
	width: 100%;
	height: 8em;
	border: 1px solid #d3d3d3; /* change to gray */
	padding: 0.5em;
	margin-top: 1em;
} /* TEXTAREA INPUT ON EDIT PROFILE FORM */

#edit-profile textarea:focus{
	border: 1px solid #4ECDC4; /* change color? */ 
	box-shadow: none;
	outline: 0;
	-webkit-appearance: none; /* overrides default blue outline */
} /* TEXTAREA INPUT ON EDIT PROFILE FORM */

#edit-profile input[type="submit"] {
	width: 100%;
	/*text-align: center;*/
	background-color: #ff3e4c;
	color: #ffffff;
	font-size: 1em;
	border-bottom: 3px solid #cc0000; /* do this in a color slightly darker than the background color */
	padding: 0.75em;
	/*font-weight: bold;*/
	margin-top: 1em;
} /* SUBMIT BUTTON IN EDIT PROFILE FORM */



/* PROMPTS/EDIT PAGE (edits response) */
#edit-response {
	width: 70%;
	margin: auto;
} /* FORM TO EDIT RESPONSE */

#edit-response textarea {
	width: 100%;
	height: 8em;
	padding: 0.5em;
	margin-bottom: 10px;
	/*resize: none;*/
} /* TEXTAREA INPUT ON EDIT RESPONSE FORM */

#edit-response input[type="submit"] {
	width: 100%;
	background-color: #ff3e4c;
	color: #ffffff;
	/*text-align: center;*/
	font-size: 1em;
	/*border: 0;*/
	padding: 0.75em;
	border-bottom: 3px solid #cc0000; /* do this in a color slightly darker than the background color */  
/*	background-color: #fabc00;
	border-bottom: 5px solid #e4981f;*/
	/*color: #ffffff;*/
	/*font-weight: bold;*/
} /* SUBMIT BUTTON ON EDIT RESPONSE FORM */



footer {
	overflow: auto;
	height: 50px;
} /* FOOTER */


