<% include ../partials/header_partial.ejs %>

<!-- prompts edit -->
<section class="prompt">
	<h4><%= response.promptBody %></h4>
</section>






<form action="/prompts/edit/<%= response.id %>?_method=PUT" method="POST" id="edit-response">


<textarea name="responseBody" form="edit-response" placeholder="<%= response.responseBody %>"><%= response.responseBody %></textarea>
		<input type="submit">
</form>



	<footer></footer>

</div> <!-- closes content-container div -->


</div> <!-- closes super-container div -->



</body>
</html>