<% include ../partials/header_partial.ejs %>
	
	<div id="usershow-container">

		<div class="profile-content">



			<h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>

			<p>Edit your profile.</p>


			<form action="/users/editprofile/<%= user.id %>?_method=PUT" method="POST" id="edit-profile">
				<textarea name="about" form="edit-profile" placeholder="<%= user.about %>"></textarea>
				<input type="submit">
			</form>




		</div>





	</div> <!-- closes usershow-container -->



	

	<footer></footer>

</div> <!-- closes content-container div -->


</div> <!-- closes super-container div -->

</body>
</html>