<% include ../partials/header_partial.ejs %>

	<div class="profile-content">

		<h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>

		<p>Edit your profile.</p>

		<form action="/users/editprofile/<%= user.id %>?_method=PUT" method="POST" id="edit-profile">
			<textarea name="about" form="edit-profile" placeholder="<%= user.about %>"></textarea>
			<input type="submit" value="Submit">
		</form>
		
	</div> <!-- closes profile-content div -->

<% include ../partials/footer_partial.ejs %>

