<% include ../partials/header_partial.ejs %>
	
	<div id="usershow-container">

		<div class="profile-content">

			<h2><%= user.username %></h2>


			<p>Pollis turpis venenatis odio maximus, eu volutpat orci lacinia. Vestibulum dui urna, imperdiet vitae turpis aliquam, hendrerit interdum justo. Vivamus euismod posuere nulla condimentum suscipit. Vivamus in ante id odio consectetur pellentesque ac quis metus.</p>

		</div>

		<div class="profile-content">

			<h2>Responses</h2>

			<%= user.responses[0].responseBody %>

			<div class="profile-response">
				<span class="promptbody">Killing Hitler has become a sport amongst time travelers. Points are awarded for creativity and difficulty. You are last year's champion, how did you win?</span>
				<p>So get a load of this. I had this idea. I was thinking, how am I going to kill one of the most antagonistic political figures of the 20th century? I thought, hey, a sperm whale--- It started with a sperm whale anyway. I was just going to drop a sperm whale on him. Then I realized, I wasn't going to get points for subtelty or difficulty. Anyone can just, drop something on someone. Hell, the third winner used an ambulance. Points for creativity and irony that year.</p>
				<!-- <span>dfdsf</span> -->
			</div>


			<div class="profile-response">
				<span class="promptbody">Killing Hitler has become a sport amongst time travelers. Points are awarded for creativity and difficulty. You are last year's champion, how did you win?</span>
				<p>Germany invaded France and so came upon my little village which lay in Burgundy. First, came the overwhelming buzzing as the Luftwaffe began to toss their bombs. I didn't understand why they were attacking us at the time; I later found out that the villa was the site of large oil tanks and reserves, and just a few kilometers off was a hidden military base. The bombs swept over the village like a fiery storm, spitting fire, twisting and burning everything and everyone. My Time Machine was destroyed in my house during that first wave. My daughter burned to death; she was in her crib and was crying out as her flesh melted off her bones. I found her later, charred black with a gaping mouth but no tongue. Her teeth were still white as snow. The few bombs had created towering infernos that dashed and killed as an avenging angel of death. The Germans wasted an immense amount of resources on our useless village. When I returned to my time, I learned of their assaults on Paris and London, but I would never hear of their experiments of these techniques on small towns like mine.</p>
			</div>



		</div>

	</div>

	<footer></footer>

</div> <!-- closes content-container div -->


</div> <!-- closes super-container div -->


<!-- <html>
<head>
	<title></title>
</head>
<body>
user's show

<p>New Prompt</p>
<form action="/users/newprompt" method="POST">
<input type="text" name="promptBody" placeholder="promptBody">
<input type="submit">
</form>

<h2><%= locals.user %></h2>
<h2><%= locals.login %></h2>

</body>
</html> -->