<html>
<head>
	<title></title>
</head>
<body>
user's show

<p>New Prompt</p>
<form action="/users/newprompt" method="POST">
<input type="text" name="promptBody" placeholder="promptBody">
<input type="submit">
</form>

<h2><%= locals.user %></h2>
<h2><%= locals.login %></h2>

</body>
</html>