<% include ../partials/header_partial.ejs %>

	<div id="signup-container">


		<form action="../users/signup" method="POST" id="new-account">

			<center><h2>Create a New Account</h2></center>

			<div class="newitem">
		
				<label>Email:</label>
				<input type="text" name="email">

			</div>
		
			<div class="newitem">
		
				<label>Username:</label>
				<input type="text" name="username">

			</div>

			<div class="newitem">
		
				<label>Password:</label>
				<input type="text" name="password">

			</div>

			<!-- <div class="newitem"> -->
		
				<!-- <label>Bio:</label> -->
				<!-- <textarea form="new-account"></textarea> -->

			<!-- </div> -->

			<div class="newitem">
		
				<input type="submit" name="email">

			</div>

		</form>

	</div>

	</div> <!-- closes content-container div -->

</div> <!-- closes super-container div -->

</body>
</html>