<% include ../partials/header_partial.ejs %>

	<div id="signup-container">

		<form action="../users/signup" method="POST" id="new-account">

			<center><h2>Create a New Account</h2></center>

			<div class="newitem">
		
				<label for="email">Email:</label>
				<input type="text" name="email">

			</div>
		
			<div class="newitem">
		
				<label for="username">Username:</label>
				<input type="text" name="username">

			</div>

			<div class="newitem">
		
				<label for="password">Password:</label>
				<input type="text" name="password">

			</div>

			<div class="newitem">
		
				<input type="submit" name="email">

			</div>

		</form>

	</div> <!-- closes signup-container div -->

<% include ../partials/footer_partial.ejs %>
